[Unit]
Description= Random RGB
After=multi-user.target

[Service]
ExecStart=/home/sel/6451/bin/python3 /home/sel/6451/Pratica5/randrgb.py
ExecStop=/home/sel/6451/Pratica5/finalizaled.sh
User=sel

[Install]
WantedBy=multi-user.target
